---
---

// -----------------------------------------------------------------------------
// Theme definition
// -----------------------------------------------------------------------------
@background: #fff; //#f0f0f0;
@text-color: #111;
@header-color: #c22;  // #333;
@site-width: 1024px;
@font-text: 'Titillium Web', sans-serif;
@font-header: 'Titillium Web', sans-serif;
@font-impact: 'Titillium Web', sans-serif;
@border-standard: 1px solid darken(@background, 10%);

// -----------------------------------------------------------------------------
// UIkit
// -----------------------------------------------------------------------------
@import './node_modules/uikit/src/less/uikit.theme.less';

// overrides
@global-background: @background;
@global-font-family: @font-text;
@global-primary-background: @header-color;
@global-secondary-background: @text-color;
@breadcrumb-divider-margin-horizontal: 10px;
@base-em-color: inherit;
@inverse-global-color: fade(@global-inverse-color, 85%);
@navbar-nav-item-height: 64px;
@base-heading-color: @header-color;
//@base-heading-font-family: @font-header;
@base-link-color: @header-color;
.uk-button-primary {color: @background !important;}

// -----------------------------------------------------------------------------
// Fonts
// -----------------------------------------------------------------------------
@import './css/fonts.less';

// -----------------------------------------------------------------------------
// Template
// -----------------------------------------------------------------------------
html, body {color: @text-color;}
body {background: @background;}
.main-nav-container {border-bottom: @border-standard; box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.07);}
.main-nav-container {
	.overlay {position: absolute; z-index: 0; top: 0; bottom: 0; left: 0; right: 0; background: rgba(0, 0, 0, 0.70);}
}
nav.main {
	.uk-logo {font-family: 'Bolshevik';}
	.uk-logo {
		img {max-width: 54px;}
		span {display: block; padding: 10px 0 0 0px; font-size: 26px; font-family: 'Bolshevik';}
	}
	ul.uk-navbar-nav {flex-wrap: wrap;}
}

a {color: @header-color;}
a:visited:not(.uk-button) {color: darken(@header-color, 15%);}
a:hover {text-decoration: underline;}

.main-page {min-height: 400px;}

footer {border-top: @border-standard;}
footer {
	icon {font-size: 24px;}
	.jab {font-weight: bold;}
	.uk-iconnav {
		a:hover {text-decoration: none;}
	}
}

// -----------------------------------------------------------------------------
// General page styles
// -----------------------------------------------------------------------------
h1, h2, h3, h4, h5, h6 {
	a {color: @header-color;}
}

// -----------------------------------------------------------------------------
// Posts
// -----------------------------------------------------------------------------
.post {
	.date {font-weight: bold; font-size: 0.9em;}
}
.post-list {}
.post-list {
	.post {padding-bottom: 48px; margin-bottom: 48px; border-bottom: @border-standard;}
	.post:last-child {border-bottom: 0;}
	&.summary {
		h3 {font-size: 18px;}
		> .post {
			& {padding-top: 6px; padding-bottom: 16px; margin-bottom: 10px; border: 0;}
			.cover {background-position: center center; background-size: cover;}
		}
	}
	.post-header {
		&.brief {
			h3 {margin: 0; padding: 0;}
			.date {margin: 0; padding: 0; font-weight: normal;}
		}
	}
}
.post {
	h1, h1 a {color: @header-color;}
}

// -----------------------------------------------------------------------------
// Page modules
// -----------------------------------------------------------------------------
body.has-leader {
	.main-nav-container {border-bottom: 1px solid rgba(0, 0, 0, 0);}
	nav.main {
		.uk-logo {
			span {color: @background;}
		}
		.uk-navbar-nav {
			li a {color: @background;}
		}
	}
}
.hero {}
.hero {
	.hero-container {position: relative;}
	.info {
		h1 {font-size: 42px; font-family: @font-impact;}
		h2 {font-size: 22px; /*max-width: 569px;*/}
	}
}

.home-grid {}
.home-grid {
	icon {font-size: 32px; color: @header-color;}
}

/*
.hero {position: relative; background-image: url(../assets/images/train-station.jpg);}
.hero {
	.hero-container {position: relative;}
	.info {
		h1 {font-size: 64px; font-family: @font-impact;}
		h2 {font-size: 22px; max-width: 569px;}
	}
}
.page-leader {margin-bottom: 64px; background-position: center center; background-repeat: no-repeat; background-size: cover;}
.page-leader {
	.inner {display: flex; flex-direction: column; align-items: center; justify-content: center; min-height: 350px; text-align: center; color: #fff; background: rgba(0, 0, 0, 0.6);}
	h1 {max-width: @site-width; font-size: 64px; font-family: @font-impact;}
	h2 {max-width: (@site-width / 1.8); margin-top: 16px; font-size: 22px; line-height: 1.2em;}
}
*/

/*
// -----------------------------------------------------------------------------
// Template
// -----------------------------------------------------------------------------
body {padding: 0; margin: 0; color: @text-color; font-family: @font-text; background: @background;}

body > header {margin: 0 0 64px 0; padding: 12px 0; border-bottom: 1px solid rgba(0, 0, 0, 0.3);}
body > header {
	.inner {max-width: @site-width; display: flex; align-items: center; justify-content: space-between; margin: 0 auto; padding: 0 24px;}
	.nav {display: flex; flex-wrap: wrap; list-style: none; margin: 0 0 0 0; padding: 2px 0 0 0;}
	.nav {
		li a {display: block; margin: 0 8px; font-family: 'Teko'; font-size: 22px; color: #222; text-decoration: none;}
		li a:hover {text-decoration: underline;}
	}
	.logo {display: flex; text-decoration: none; color: #000;}
	.logo {
		img {max-width: 42px;}
		span {display: block; padding: 10px 0 0 3px; font-size: 26px; font-family: 'Bolshevik';}
	}
}

* {box-sizing: border-box;}

a {color: @header-color;}
a:visited {color: darken(@header-color, 15%);}

.page-content {max-width: @site-width; margin: 0 auto 64px auto; line-height: 1.4em;}
.page-content {
	.wrapper {padding: 0 24px;}
	h1, h2, h3 {font-family: @font-header; font-weight: 200; color: @header-color; line-height: 1.1em;}
	h1 {font-size: 40px; margin-bottom: 18px;}
	h2 {font-size: 30px; margin-bottom: 13px;}
	h3 {font-size: 24px; margin-bottom: 10px;}
	h1, h2 {
		small {display: inline-block; margin: 0 0 0 9px; font-size: 18px; vertical-align: middle;}
	}

	ul, ol {margin-left: 32px; margin-bottom: 16px;}
	ul, ol {
		ul, ol {margin-bottom: 0};
	}

	* + h1, * + h2, * + h3 {margin-top: 32px;}
	p {padding: 6px 0; margin: 0 0 10px 0;}

	pre {margin: 0 0 16px 0; overflow-x: auto;}
	code {padding: 2px 8px; white-space: pre; font-family: Consolas, "Liberation Mono", Courier, monospace; background: #eee5e5;}

	strong {font-weight: bold;}
	em {font-style: italic;}
}


// -----------------------------------------------------------------------------
// Page modules
// -----------------------------------------------------------------------------
body.has-leader {
	header {margin-bottom: 0;}
}
.page-leader {margin-bottom: 64px; background-position: center center; background-repeat: no-repeat; background-size: cover;}
.page-leader {
	.inner {display: flex; flex-direction: column; align-items: center; justify-content: center; min-height: 350px; text-align: center; color: #fff; background: rgba(0, 0, 0, 0.6);}
	h1 {max-width: @site-width; font-size: 64px; font-family: @font-impact;}
	h2 {max-width: (@site-width / 1.8); margin-top: 16px; font-size: 22px; line-height: 1.2em;}
}

// -----------------------------------------------------------------------------
// Posts
// -----------------------------------------------------------------------------
.post {
	.date {font-weight: bold; font-size: 0.9em;}
}
.post-list {list-style: none; margin: 0 !important; padding: 0 !important;}
.post-list {
	> li {padding-bottom: 16px; margin-bottom: 16px; border-bottom: 1px solid rgba(0, 0, 0, 0.2);}
	> li:last-child {border-bottom: 0;}
	&.summary {
		> li {padding-top: 6px; margin-bottom: 10px;}
	}
	.post-header {
		&.brief {
			h3 {margin: 0; padding: 0;}
			.date {margin: 0; padding: 0; font-weight: normal;}
		}
	}
}
.post {
	h1, h1 a {text-decoration: none; color: @header-color;}
}

// -----------------------------------------------------------------------------
// homepage
// -----------------------------------------------------------------------------
// NOTE: at 700px the font size drops but the new column remins under. oh well.
@media only screen and (max-width: 699px) {
	.home-layout {
		h2 {font-size: 40px;}
		.news {margin-top: 32px;}
	}
}
@media only screen and (min-width: 700px) {
	.home-layout {display: flex; justify-content: space-between;}
	.home-layout {
		.info {width: 67%;}
		.news {width: 30%; padding: 0 (3% / 2); border-left: 1px solid rgba(0, 0, 0, 0.1); }
	}
}
*/

