<footer class="uk-section uk-section-small uk-section-secondary">
	<div class="uk-container uk-container-small">
		<div class="uk-flex uk-flex-middle uk-flex-center uk-flex-wrap uk-text-center">
			<ul class="uk-nav uk-nav-default uk-width-1-3@s uk-flex-left@s uk-text-left@s">
				<li><a href="{{ "/paper" | prepend: site.baseurl }}">Paper</a></li>
				<!--<li><a href="{{ "/docs" | prepend: site.baseurl }}">Documentation</a></li>-->
				<li><a href="{{ "/posts" | prepend: site.baseurl }}">News</a></li>
				<li><a href="{{ "/faq" | prepend: site.baseurl }}">FAQ</a></li>
				<!--<li><a href="{{ "/roadmap" | prepend: site.baseurl }}">Project roadmap</a></li>-->
			</ul>
			<div class="uk-width-1-3@s">
				<!--
				<p class="jab">Capitalism? More like <em>Crap</em>italism!</p>
				-->
			</div>
			<ul class="uk-iconnav uk-width-1-3@s uk-padding uk-flex-right@s">
				<li><a title="Source code" href="https://gitlab.com/basisproject/"><icon>&#xF296;</icon></a></li>
				<li><a title="Basis community" href="https://www.reddit.com/r/basisproject"><icon>&#xF281;</icon></a></li>
			</ul>
		</div>
	</div>
</footer>

