<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

	<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl | append: '?v=' | append: site.asset_version }}">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
	<link rel="icon" href="{{ "/assets/images/red_star.256.png" | prepend: site.baseurl}}" type="image/png">
	<meta http-equiv="refresh" content="0; url=https://basisproject.net{{ page.url | replace:'/public' ''}}">
	<script>
		// auto-redirect
		window.location = 'https://basisproject.net{{ page.url | replace:'/public',''}}';
	</script>

	<script src="{{ "/assets/js/uikit.min.js" | prepend: site.baseurl | append: '?v=' | append: site.asset_version }}"></script>
	<script src="{{ "/assets/js/uikit-icons.min.js" | prepend: site.baseurl | append: '?v=' | append: site.asset_version }}"></script>

	{% if page.leader.image_raw %}<meta property="og:image" content="{{ page.leader.image_raw }}" />{% endif %}
	{% if page.leader.image %}<meta property="og:image" content="{{ page.leader.image | prepend: site.baseurl | prepend: site.url }}" />{% endif %}

	<!-- Matomo -->
	<script type="text/javascript">
		var _paq = _paq || [];
		/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
		_paq.push(['trackPageView']);
		_paq.push(['enableLinkTracking']);
		(function() {
			var u="//killtheradiostats.nfshost.com/";
			_paq.push(['setTrackerUrl', u+'piwik.php']);
			_paq.push(['setSiteId', '15']);
			var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
			g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
		})();
	</script>
	<!-- End Matomo Code -->
</head>

