<!DOCTYPE html>
<html>
	{% include head.html %}
	<body class="{{ page.body_class }} {% if page.leader %}has-leader{% endif %}">
		{% include header.html %}

{{ content }}

		{% include footer.html %}
	</body>
</html>

